[submodule ".idea/codeStyles"]
	path = .idea/codeStyles
	url = git@github.com:onacit/dot-idea-codestyles.git
[submodule "src/test/resources-spdx-license-data"]
	path = src/test/resources-spdx-license-data
	url = git@github.com:spdx/license-list-data.git
