<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="CONSOLE"/>
  </root>
  <logger name="org.jboss.logging" level="INFO"/>
  <logger name="org.jboss.validation" level="INFO"/>
  <logger name="org.jboss.weld" level="INFO"/>
</configuration>